body {
	font-family:ubuntu, arial, sans-serif;
	background-image:url("metaltiles.jpg");
	background-repeat:repeat;
	color:#fff;
	text-shadow:-1px 1px 1px #000;
	font-size:1.4em;
	margin-top:0;
}
#overlord {
	margin:auto;
	padding:0;
	max-width:540px;
}
#header, #nav, #footer, #wrapper {
	margin:0 auto;
	border:1px solid black;
	border-top:none;
	border-bottom:none;
}
#header {
	background:rgba(0, 0, 0, 0.6);	
	padding:10px 20px;
}
#nav {
	background:rgba(0, 0, 0, 0.4);	
}
#wrapper {
	background:rgba(0, 0, 0, 0.1);
	padding:10px 20px;
}
#footer {
	padding:10px 20px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align:center;
	font-size:0.7em;
	border:1px solid black;
}
h1 {
	text-decoration:underline;
	text-shadow:-2px 2px 3px #000;
	margin:0 0 10px 0;
}
h2 {
	margin-top:10px;
	margin-bottom:10px;
}
#nav ul {
	list-style:none;
	margin:0;
	padding:0;
}
#nav ul li {
	display:inline-block;
}
#nav a {
	text-decoration:none;
	padding:10px 10px;
	min-width:100px;
	display:inline-block;
	text-align:center;
	color:white;
	border-left:1px solid gray;
}
#nav a#first {
	border-left:none;
}
#nav a:hover, #nav a:active {
	background:cyan;
}
.utill {
	margin:0 0 80px 0;
}
.numericBox {
	width: 4em;
}
span.result {
	color: #0f0;
}
span.error {
	color:#f00;
}
#convFormat {
	margin-top:0px;
	margin-bottom:10px;
	font-size: 0.7em;
	font-style:italic;
}
#selectTime, #dispTime {
	display:block;
	margin: 50px auto;
	text-align: center;
	font-size: 100px;
}
#dispTime {
	display: none;
}
#toggler {
	width:100%;
}
select {
	font-size:1em;
	background:transparent;
	color:white;
	border:none;
}
option {
	background-color:black;
	padding:0;
	margin:0;
}

