body {
	font-family:ubuntu, arial, sans-serif;
	background-image:url("metaltiles.jpg");
	background-repeat:repeat;
	color:#fff;
	text-shadow:-1px 1px 1px #000;
	margin-top:0;
}
#header, #nav, #footer, #wrapper {
	margin:0 auto;
	border:1px solid black;
	border-top:none;
	border-bottom:none;
	max-width:900px;
}
#header {
	background:rgba(0, 0, 0, 0.6);	
	padding:10px 20px;
}
#nav {
	background:rgba(0, 0, 0, 0.4);
	max-width:940px;
}
#wrapper {
	background:rgba(0, 0, 0, 0.1);
	padding:10px 20px;
}
#footer {
	padding:10px 20px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align:center;
	font-size:0.7em;
	border:1px solid black;
	clear:both;
}
h1 {
	text-decoration:underline;
	text-shadow:-2px 2px 3px #000;
	margin:0 0 10px 0;
}
h2 {
	margin-top:10px;
	margin-bottom:10px;
}
#nav ul {
	list-style:none;
	margin:0;
	padding:0;
}
#nav ul li {
	display:inline-block;
}
#nav a {
	text-decoration:none;
	padding:10px 10px;
	min-width:100px;
	display:inline-block;
	text-align:center;
	color:white;
	border-left:1px solid gray;
}
#nav a#first {
	border-left:none;
}
#nav a:hover, #nav a:active {
	background:cyan;
}
.utill {
	margin:0 0 80px 0;
}
.numericBox {
	width:4em;
}
span.result {
	color:#0f0;
}
span.error {
	color:#f00;
}
#convFormat {
	margin-top:0px;
	margin-bottom:10px;
	font-size: 0.7em;
	font-style:italic;
}
.timeBox {
	float:left;
	width:32%;
	text-align:center;
	margin-right:2%;
	margin-bottom: 2.5%;
	padding:15px 0;
}
.lastBox {
	margin-right:0;
}
.timeBox span {
	display:block;
}
.timeValue { 
	font-size:100px;
}
#toggler {
	width:100%;
}
