body {
	font-family:ubuntu, arial, sans-serif;
	background-image:url("metalic-wood.jpg");
	background-repeat:repeat;
	color:#fff;
	text-shadow:-1px 1px 1px #000;
	font-size:1.4em;
	margin-top:0;
}
#wrapper {
	margin:0 auto;
	padding:15px 20px;
	width:700px;
	box-shadow:0 0 4px #000;
}
h1 {
	text-decoration:underline;
	text-shadow:-2px 2px 3px #000;
	margin:0 0 30px 0;
}
h2 {
	margin-bottom:15px;
}
.utill {
	margin:0 0 80px 0;
}
.numericBox {
	width: 4em;
}
span.result {
	color: #0f0;
}
span.error {
	color:#f00;
}
footer {
	margin:0 auto;
	padding:10px 20px;
	width:700px;
	background-color: rgba(0, 0, 0, 0.2);
	text-align:center;
	font-size:0.7em;
	border: solid 1px black;
}
#convFormat {
	margin-top:0px;
	margin-bottom:10px;
	font-size: 0.7em;
	font-style:italic;
}
#clock {
	margin: 50px auto;
	text-align: center;
	font-size: 100px;
}

