body {
	font-family:ubuntu, arial, sans-serif;
	background-image:url("../../css/metaltiles.jpg");
	background-repeat:repeat;
	color:#fff;
	text-shadow:-1px 1px 1px #000;
	margin-top:0;
}
#header, #footer, #wrapper {
	margin:0 auto;
	border:1px solid black;
	border-top:none;
	border-bottom:none;
	max-width:900px;
}
#header {
	background:rgba(0, 0, 0, 0.6);	
	padding:10px 20px;
}
#wrapper {
	background:rgba(0, 0, 0, 0.1);
	padding:10px 20px;
}
#footer {
	padding:10px 20px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align:center;
	font-size:0.7em;
	border:1px solid black;
	clear:both;
}
h1 {
	text-decoration:underline;
	text-shadow:-2px 2px 3px #000;
	margin:0 0 10px 0;
}
h2 {
	margin-top:10px;
	margin-bottom:10px;
}
.utill {
	margin:0 0 80px 0;
}
.numericBox {
	width:4em;
}
span.result {
	color:#0f0;
}
span.error {
	color:#f00;
}
#convFormat {
	margin-top:0px;
	margin-bottom:10px;
	font-size: 0.7em;
	font-style:italic;
}
.button {
	display:inline-block;
	margin:4px;
	padding: 2px 10px 2px 10px;
	border: 1px solid black;
	border-radius: 6px;
	box-shadow: black 0 0 2px;
	vertical-align: middle;
}
.buttonUp {
	background-color:rgba(0, 0, 0, 0.3);
}
.buttonDown {
	background-color:rgba(0, 0, 0, 0.6);
}
a {
	color: white;
	text-decoration:none;
}
a:hover {
	color: cyan;
}
