body {
	background-color: white;
	margin: 0;
	padding: 0;
}
#footer {
	background-color: #F5F5F5;
	border-top: 1px solid #E5E5E5;
	margin-top: 20px;
	padding: 15px 0;
	text-align: center;
}
.btn-primary {
	display: block;
	width: 80px; 
	margin-bottom: 5px;
}
.controls {
	margin-top: 0px;
}
label {
	display: inline;
}
.label-success, .label-important {
	font-size: 140%;
	line-height: 20px;
}
.utill {
	margin:0 0 80px 0;
}
#contentContainer {
	margin: 20px;
}
.numericBox {
	width:4em;
	height: 1px;
}
#convFormat {
	margin-top:0px;
	margin-bottom:10px;
	font-style:italic;
}
